@page "/ondemo/eventview"

<h2>@Message</h2>

<div class="container">
    <div class="row">
        <div class="col-12">

            @for (int i = 0; i < 5; i++)
            {
                var buttonNumber = i;

                <button class="btn btn-danger" @onclick="@((e)=> OnButton(e,buttonNumber))">
                    Button @buttonNumber
                </button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-danger" @onclick="@(()=> Message="Inline Event")">Inline Event</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-danger" @onclick="UpdateMessage">Method Event</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-danger" @onclick="this.OnSubmit">Action Event</button>
        </div>
    </div>
</div>